form.signup,
form.login {
  margin-top: 50px;
}

.background {
  background-image: linear-gradient(to bottom, grey, black);
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.container {
  color: white;
}

#animation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#savedbtn {
  margin-left: 10px;
}

#container-overlap {
  color: white;
  position: absolute;
  top: 0;
  left:0;
  z-index:1;
  bottom:0;
  right:0;
  height:100%;
}

@charset "UTF-8"